*{
    margin: 0;
    padding: 0;
}
.site-wrapper {
    display: grid;
    background-color: #BFAFA6;
    grid-template-areas: "main" "footer";
    height: 100vh;
}
.content {
    grid-area: main;
    display: flex;
    height: 96vh;
}
.left-side-wrapper {
    float: left;
    flex-basis: 40%;

}
.right-main-side-wrapper {
    display: grid;
    padding-top: 10px;
    float: right;
    flex-basis: 60%;
    grid-template-areas: "logout" "buttons" "package-list" ;
    grid-template-rows: 0.3fr 0.8fr 4fr;
}
.logout-button-wrapper {
    grid-area: logout;
    height: 40px;
}
.logout-button {
    font-family: 'Montserrat', sans-serif;
    margin: 4px 15px 0 0;
    float: right;
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: #334441;
    font-weight: 400;
    font-style: normal;
    width: 14vh;
    height: 35px;
    cursor: pointer;
}
.logout-button:hover {
    background-color: #606D5D;
}
.footer {
    grid-area: footer;
    background-color: #BFAFA6;
    width: 100%;
    text-align: center;
    color: rgba(0,0,0,0.65);
}
.footer h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    color: #282c34;
}
.logo-at-left-side {
    display: flex;
}
.logo-at-right-side {
    display: none;
}
.logo-img {
    width: 90px;
    height: 90px;
}
.logo-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 30px;
    color: rgba(0,0,0,0.65);
}
.image-wrapper {
    display: flex;
    justify-content: right;
}
.main-content {
    display: flex;
    align-items: center;
}
.main-content-delivery {
    width: 450px;
    height: 420px;
}
.K {
    width: 100%;
    height: 100%;
}
.P {
    padding-top: 40px;
    width: 100%;
    height: 100%;
    margin-top: -100px;
}
.A {
    padding-top: 40px;
    width: 80%;
    height: 80%;
    margin-top: -100px;
}
.top-button-content {
    grid-area: buttons;
    display: inline-flex;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 50px;

}
.top-button-content .Odbior{
    border-radius: 8px;
    padding: 14px 60px;
    font-size: 22px;
    text-align: center;
    border: none;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    display: inline-block;
    background-color: #334441;
    scale: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.Odbior:hover {
    background-color: #606D5D;
}
.top-button-content .Nadanie{
    border-radius: 8px;
    padding: 14px 68px;
    font-size: 22px;
    text-align: center;
    border: none;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    display: inline-block;
    background-color: #334441;
    scale: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.Nadanie:hover {
    background-color: #606D5D;
}
.bottom-info-content{
    grid-area: package-list;
    margin-top: -30px;
}
.send-panel {
    display: none;
}
.send-panel.active {
    display: flex;
}
.recieve-panel {
    display: none;
}
.recieve-panel.active {
    display: flex;
    max-height: 650px;
    overflow-y: auto;
}
@media all and (max-width: 1000px){
    .top-button-content .Odbior{
        border-radius: 8px;
        padding: 14px 40px;
        font-size: 15px;
        text-align: center;
        border: none;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        background-color: #282c34;
        scale: 1.0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        cursor: pointer;
    }
    .top-button-content .Nadanie{
        border-radius: 8px;
        padding: 14px 48px;
        font-size: 15px;
        text-align: center;
        border: none;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        background-color: #282c34;
        scale: 1.0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        cursor: pointer;
    }
    .Nadanie:hover {
        background-color: #334441;
    }
    .Odbior:hover {
        background-color: #334441;
    }
    .P {
        padding-top: 40px;
        width: 100%;
        height: 100%;
        margin-top: -70px;
    }
    @media all and (max-width: 825px){
        .logo-img {
            width: 70px;
            height: 70px;
        }
        .logo-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 22px;
            margin-top: 20px;
        }
        .P {
            padding-top: 60px;
            width: 100%;
            height: 100%;
            margin-top: -70px;
        }
        .logout-button {
            margin: 4px 15px 0 0;
            float: right;
            border-radius: 5px;
            text-align: center;
            border: none;
            color: #fff;
            text-decoration: none;
            background-color: #334441;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            width: 10vh;
            height: 3vh;
            cursor: pointer;
            font-size: 12px;
        }
        @media all and (max-width: 630px) {
            .left-side-wrapper {
                display: none;
            }
            .logo-at-left-side {
                display: none;
            }
            .logo-at-right-side {
                display: flex;
            }
            .right-main-side-wrapper {
                flex-basis: 100%;
            }
            .logout-button {
                margin: 4px 15px 0 0;
                float: right;
                border-radius: 5px;
                text-align: center;
                border: none;
                color: #fff;
                text-decoration: none;
                background-color: #334441;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
                width: 14vh;
                height: 4vh;
                cursor: pointer;

            }
            .logout-button-wrapper {
                grid-area: logout;
                height: 60px;
            }
            .footer {
                grid-area: footer;
                background-color: #869499;
                width: 100%;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 100;
                font-size: 10px;
                color: #282c34;
                font-style: italic;
            }
            @media all and (max-width: 400px) {
                .logout-button {
                    margin: 4px 15px 0 0;
                    float: right;
                    border-radius: 5px;
                    text-align: center;
                    border: none;
                    color: #fff;
                    text-decoration: none;
                    background-color: #334441;
                    font-weight: 500;
                    font-family: 'Montserrat', sans-serif;
                    width: 10vh;
                    height: 3vh;
                    cursor: pointer;
                    font-size: 12px;
                }
            }

        }
    }
}