.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid var(--primary-color);*/
    background-color: rgba(255,255,255, 0.05);
    padding: 1rem 0.7rem;
    margin: 13px 10px;
    position: relative;
    border-radius: 8px;
    width: 48vw;

}
.package-list-container {
    width: 56vw;
    margin-left: 20px;
    background-color: #334756;
    border-radius: 18px;
    padding-bottom: 1px;
    overflow-y: auto;
}
.card_numer_paczki {
    font-weight: 400;
    text-align: center;
    font-size: larger;

}
.card_status {
    font-weight: 400;
    text-align: center;
    font-size: larger;

}
.card_kod {
    font-weight: 400;
    text-align: center;
    font-size: larger;

}
.card_paczkomat {
    font-weight: 400;
    text-align: center;
    font-size: larger;

}
.s {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
}