.switch {
    font-family: 'Montserrat', sans-serif;
    margin: 15px 20px 15px 0;
    min-width: 105px;
    padding: 0 5px;
    color: rgba(255,255,255,0.7);
    background-color: #606D5D;
    border-radius: 5px;
    border:none;
}
.list-header-send {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 28px;
    width: 40vw;
}
.send-form-wrapper {
    margin-left: 210px;
    width: 38vw;
    background-color: #AA968A;
    border-radius: 8px;
}
.send-form-title {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.send-form-title h1 {
    padding: 25px 0 25px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    color: rgba(0,0,0,0.65);
}
.form-content {
    display: grid;
    justify-content: left;
    margin-left: 20px;
    margin-top: 10px;
}
.sender-field-form {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}
.reciever-field-form{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.choose-locker {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.form-text {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    padding-top: 10px;
}
.form-content .input-data {
    border: none;
    background-color: #BFAFA6;
    border-radius: 5px;
    padding: 15px 60px 15px 20px;
    margin-left: 20px;
    font-size: 14px;
}
.form-content h4 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    padding-top: 5px;
    color: rgba(0,0,0,0.65);
}
.locker {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 90px 15px 20px;
    color: rgba(0,0,0,0.65);
    background-color: #BFAFA6;
    border-radius: 5px;
    border:none;
}
.submit-button-placing{
    display: flex;
    justify-content: right;
    margin-right: -140px;
}
.submit-form {
    font-family: 'Montserrat', sans-serif;
    margin: 15px 20px 15px 0;
    min-width: 100px;
    padding: 10px;
    color: rgba(255,255,255,0.7);
    background-color: #606D5D;
    border-radius: 5px;
    border:none;
}
.choose-size-package-wrapper {
    display: flex;
    justify-content: space-between;
}
.form-card {
    display: grid;
    text-align: center;
    background-color: rgba(255,255,255,0.15);
    margin: 20px 0;
    border-radius: 8px;
    padding: 0 25px;
}
.form-card h4 {
    text-align: center;
    color: rgba(0,0,0,0.75);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 6px;
}
.form-card h6 {
    color: rgba(0,0,0,0.75);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 2px 0;
}
.img-container {
    width: 80px;
    height: 80px;
    padding-left: 5px;
    margin: 10px;
}
.img-container img {
    width: 100%;
}
.choose-size {
    cursor: pointer;
    box-sizing: border-box;
    appearance: none;
    background: rgba(255,255,255,0.3);
    outline: 2px solid #6E6A6F;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 50px;
    scale: 0.5;
    margin: 0 auto;
}
.choose-size:checked {
    background-image : url('../img/check.png');
}
.locker option {
    background-color: #BFAFA6;
}
.locker option:hover {
    background-color: #BFAFA6;
}
.form-card-inactive {
    display: grid;
    text-align: center;
    background-color: rgba(128,128,128,0.4);
    margin: 20px 0;
    border-radius: 8px;
    padding: 0 18px;
}
.form-card-inactive h4 {
    text-align: center;
    color: rgba(255,255,255,0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 6px;
}
.form-card-inactive h6 {
    color: rgba(255,255,255,0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 2px 0;
}
.form-card-inactive h5 {
    color: rgba(255,255,255,0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
    margin: 2px 0;
}
.image_container_send {
    width: 125px;
    height: 70px;
    padding-left: 5px;
}
.image_container_send img {
    width: 100%;
}
.wrapper-list-send{
    display: flex;
    margin-left: 165px;
}
.filter-response {
    color: rgba(0,0,0,0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 70px 0 0 180px;
}